body {
  background: linear-gradient(
    to right,
    #F24C27 0%,
    #F24C27 30%,
    #F2EFDC 30%,
    #F2EFDC 100%
    );
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #000000;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 80px;
  margin: 5px 0;
  padding-bottom: 25px;
}

h2 {
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 1px;
  text-transform: lowercase;
}

ul {
  margin: -5px 0;
  list-style-type: none;
}

li {
  margin: -5px 0;
}

img {
  padding: 50px 0px 20px 0px;
}

b {
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: #000000;
}

.main {
  width: 100%;
}

.sub {
  padding: 10px 0px 10px 0px;
  margin: 20px auto;
}

.main-sub{
  margin: 10px 0;
  width: 95%;
  padding: 0px 10px 10px 10px;
}

.ed-sub{
  width: 95%;
  padding-top: 10px;
}

.sub-position{
  text-align: left;
  padding-left: 65px;
}

.main-style{
  text-align: center;
  width: 100%;
  padding: 20px 10px 20px 10px;
  background: linear-gradient(
    to right,
    #F2EFDC 0%,
    #F2EFDC 1%,
    #037E8C 1%,
    #037E8C 100%
    );
}

#column-wrap {
  width: 100%;
  margin: 0 auto;
}

#col-1 {
  width: 29%;
  float: left;
  text-align: center;
}

#col-2 {
  width: 70%;
  float: right;
  text-align: center;
}

#contact{
  text-align: left;
  padding: 30px 0px 30px 65px;
}

#intro {
  font-size: 32px;
  width: 85%;
  padding: 90px 15px 70px 90px;
}

#ed-column {
  width: 95%;
}

#ed-col-1 {
  width: 49%;
  float:left;
}

#ed-col-2 {
  width: 49%;
  float: right;
}
