body {
  background-color: #F2EFDC;
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
}

h1 {
  margin: 30px 50px 50px 50px;
  padding: 15px 15px 15px 15px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 90px;
}

h3 {
  font-size: 32px;
}

.contact {
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  background-color: #024959;
  padding: 0px 10px 0px 10px;
  float: right;
}

.main { 
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  background-color: #024959;
  margin: 15px 15px 15px 15px;
  padding: 0px 10px 0px 10px;
}

