body {
  background: linear-gradient(
    to right,
    #F24C27 0%,
    #F24C27 40%,
    #F2EFDC 40%,
    #F2EFDC 100%
    );
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 60px;
}

h3 {
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 1px;
  text-transform: lowercase;
}

ul {
  padding: 5px;
}

.col-2 {
  width: 59%;
  text-align: center;
  float: right;
}

img {
  padding: 40px 0px 0px 0px;
}

.col-1 {
  background-color: #F24C27;
  width: 39%;
  text-align: center;
  float: right;

.contact {
  text-align: left;
}

.intro {
  font-size: 18px;
}

.main {

}

.sub {

}
